:root {
    --modal-border : 1px solid #f5f5f5;
}

body > .overlay {
    background-color: rgba(0 0 0 / 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay > .overlay-modal {
    background-color: #fff;
    width: 480px;
    border-radius: var(--border-radius-medium);
    display: grid;
    grid-template-rows: 50px minmax(120px, 1fr) 64px;
}

.overlay > .overlay-modal > .overlay-header,
.overlay > .overlay-modal > .overlay-footer {
    padding: 8px 16px;
}

.overlay > .overlay-modal > .overlay-content {
    padding: 16px;
}

.overlay > .overlay-modal > .overlay-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: var(--modal-border);

    >.overlay-title {
        flex-grow: 1;
        font-weight: bold;
    }

    > .overlay-close-button {
        flex: 0;
    }
}

.overlay > .overlay-modal >.overlay-footer {
    border-top: var(--modal-border);
}

.form-item {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
}

.form-controls {
    display: flex;
    gap: 20px;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.form-submit-button,
.delete-button {
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: var(--border-radius-small);
    padding: var(--padding-button-small) var(--padding-button-medium);
}

.form-submit-button {
    color: #fff;
    background-color: var(--highlight-interact-light-color);
    &:hover {
        background-color: var(--highlight-interact-dark-color);
    }
}

.delete-button {
    color: var(--content-text-color);
    background-color: var(--dark-background-color);

    &:hover {
        background-color: var(--dark-background-color-hover);
    }
}