:root {
    --dark-background-color: #fcfaf8;
    --white-background-color: #fff;

    --dark-background-color-hover: #f2efed;

    --border-radius-small: 5px;
    --border-radius-medium: 10px;
    --padding-button-small: 5px;
    --padding-button-medium: 15px;

    --highlight-interact-background-color: #ffefe5;
    --highlight-interact-light-color: #e74c3c;
    --highlight-interact-dark-color: #c0392b;

    --content-text-color: #202020;
    --content-sub-text-color: #666;
    --content-details-text-color: #808080;

    --content-text-interact-color-idle: #666;
    --content-text-interact-color-hover: #1a1a1a;

    --icon-text-gap:0.8ch;

    --icon-size : 24px;

    --main-side-padding: 32px;

    --card-border : 1px solid rgba(0, 0, 0, 0.12);
    --card-border-invisible : 1px solid rgba(0, 0, 0, 0);
    --card-border-hover : 1px solid rgba(0, 0, 0, 0.2);
    --card-box-shadow-hover : 0 2px 8px 0 rgba(0, 0, 0, .1);

    --ease-in-transition: cubic-bezier(0.4, 0.1, 1, 1);
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.todo-app {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
}

/* Sidebar */
.todo-app>#sidebar {
    background-color: var(--dark-background-color);
    width: 280px;
    flex-shrink: 0;

    >.sidebar-content {
        padding: 20px 12px;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        gap: 1rem;
        height: 100%;
        color: var(--content-text-color);
    }
}

.sidebar-content > .sidebar-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    gap: 1ch;

    > #sidebar-github-link {
        color: var(--content-text-interact-color-idle);

        &:hover {
            color: var(--content-text-interact-color-hover);
        }
    }
}

.sidebar-content>.sidebar-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.sidebar-content>.sidebar-nav {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    flex: 1;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

.sidebar-content>.sidebar-nav .sidebar-button {
    display: flex;
    align-items: center;
    gap: var(--icon-text-gap);
    font-size: 0.9em;
    width: 100%;
    padding: var(--padding-button-small);
    border-radius: var(--border-radius-small);
    border: none;
    background-color: var(--dark-background-color);
    cursor: pointer;

    &:hover {
        background-color: var(--dark-background-color-hover);
    }

    &.selected {
        background-color: var(--highlight-interact-background-color);
        color: var(--highlight-interact-dark-color);

        .ic-wrapper {
            color: var(--highlight-interact-light-color);
        }
    }
}

.sidebar-nav-controls #nav-add-task {
    color: var(--highlight-interact-dark-color);
    font-weight: bold;

    >.ic-wrapper {
        background-color: var(--highlight-interact-light-color);
        border-radius: 50%;

        >.ic-icon {
            color: white;
        }
    }
}

.sidebar-nav-projects > .sidebar-nav-projects-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: var(--padding-button-small);

    > span {
        font-size: 1.1em;
        font-weight: bold;
        flex: 1;
    }

    > #nav-add-project {
        height: 28px;
        width: 28px;
        justify-content: center;
        align-items: center;
    }
}

/* Main */

.todo-app > #main-content {
    width: 100%;
    color: var(--content-text-color);
    background-color: var(--white-background-color);
}

/* Components */

.ic-button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: var(--icon-text-gap);
    padding: var(--padding-button-small);
    border-radius: var(--border-radius-small);
    border: none;
    cursor: pointer;
    background-color: inherit;

    &:hover {
        background-color: var(--dark-background-color-hover);
    }
}

.ic-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: var(--icon-size);
    width: fit-content;
    height: fit-content;
}

.edit-button {
    font-size: 0.9em;
    
    >.ic-wrapper {
        font-size: calc(var(--icon-size) * 0.9);
    }
}

.invisible {
    display: none !important;
}